.page {
    height: 100vh;
}

.navbar {
    justify-content: center;
}

.primary-color {
    background-color:#DD3540!important;
}

.btn-outline {
    border-radius: 20px;
    color:#DD3540!important;
    border-color:#DD3540!important;
    border-style:solid!important;
    border-width:1px!important;;
}

.btn-filled {
    border-radius: 20px;
    padding:.84rem 1.8rem;
    color:white!important;
    border-color:#DD3540!important;
    background-color:#DD3540!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
