.line-thru {
  display: block;
  position: relative;
  padding: 15px 20px 0 20px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.line-thru:before {
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 55%;
  z-index: -1;
}

.line-thru:after {
  border-bottom: 1px solid #dfe0e6;
  content: '';
  display: block;
  position: absolute;
  top: 60%;
  width: 90%;
  z-index: -2;
}

.row {
  margin: 0;
  /* margin: 0 5px 0 5px; */
}

.feature-col {
  text-align: center;
  padding-top: 12px;
  border-style: solid;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  border-width: 1px;
  border-color:#757575;
}

.feature-selected {
  background-color: #DD3540;
  color: white;
  border-style: none;
}

#feature-body {
  padding: 0;
  text-align: center;
}

#feature-body i {
  margin: 0 0 5px 0;
}


body {
  line-height:1;
}

.settings{
  padding: 10px;
}